<p id="notice"><%= notice %></p>

<h1>掲示板テスト</h1>


<table align="center" border="3" width="100%" style="table-layout: fixed;" >
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Comment</th>
      <th width ="200">Image</th>
      <th>Like</th>
      <th>Dislike</th>
      <th colspan ="3">&nbsp;</th>
      <!--<th colspan="6"> </th>-->
    </tr>
  </thead>

  <tbody>
    <% @posts.each_with_index do |post,index| %>
      <tr>
        <td><%= 1 + index %></td>
        <td><%= post.name %></td>
        <td><%= post.comment %></td>
        <td width ="200"><%= image_tag post.image_url(:thumb) %></td>
        <td><%= post.get_likes.size %></td>
        <td><%= post.get_dislikes.size %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
<br>

<%= paginate @posts %>
