<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @post.comment %>
</p>

<p><%= image_tag @post.image_url %></p>


<hr>
<h2>コメント一覧</h2>

<% if @post.comments.empty? %>
まだコメントは、ありません
<% else %>
  <% @post.comments.each_with_index do |comment,index| %>
    <div>
      <h3><%= 1 + index %></h3>
      <p>
        <%= comment.name %>
      </p>
      <p>
        <%= comment.content %>
      </p>
    </div>
  <% end %>
<% end %>
<hr>

<h2>新規コメント投稿</h2>

<%= render 'comments/form' %>


<%= link_to 'Edit', edit_post_path(@post) %> 
<%= link_to 'Back', posts_path %>
